FLASK_ENV=development
FLASK_DEBUG=True
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=monteverde_db

# Genera una clave segura usando: python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=
